src/main/mule/covidcase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="covidcaseFlow" doc:id="cbd543de-27ea-422b-8f93-77fe147ca1b9" >
		<http:listener doc:name="Listener" doc:id="18bc877b-2b67-40dd-ab95-51cc3804326c" config-ref="HTTP_Listener_config" path="covidcase/{name}/{age}/{pincode}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="92a3bfca-b60c-4d8f-9484-e7d7a4db53d9" message="#[attributes.uriParams.name]"/>
	</flow>
</mule>
