src/main/mule/transform.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="transformFlow" doc:id="2faa2335-2afb-4037-8f16-63cba28b551e" >
		<http:listener doc:name="Listener" doc:id="0b8d736e-56f3-43f9-abfe-a80e5d78a787" config-ref="HTTP_Listener_config" path="transform" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="f533a079-83b6-42de-aa9b-4492b6c07c8f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="67fbbb31-ab87-4415-a034-feff93982174" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	firstname: payload.firstname,
	lastname: payload.lastname,
	"phone no": payload."phone no",
	dob: payload.dob
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ff2f0b68-dff4-4895-9626-42682258ad41" message="#[payload]"/>
	</flow>
</mule>
